__pycache__/
.env
*.pyc
node_modules/
dist/
.vscode/
tmux*
*.log
*.swp
*.bak
*.DS_Store
*.egg-info/
*.pyo
*.coverage
package-lock.json
backend/.dockerignore
backend/fly.toml
backend/mongo_password.txt
backend/test_kafka.py
backup_logs/
mongdobd_migration.py
./github/*
PERFORMANCE_OPTIMIZATION.md